@font-face {

    font-family: 'Young-Serif';
    src: url("YoungSerif/YoungSerif-Regular.ttf") format("truetype");

}

@font-face {
    font-family: 'Outfit';
    src: url("Outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin-top: 30px;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    flex-direction: column;
}

.initial-group h1 {
    font-family: "Young-Serif", serif;
    font-weight: 400;
}

.initial-group {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
}
.initial-group p{
    margin-bottom: 15px;
}

.container{
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
    padding: 30px;
    width: 50%;
    margin: 0 auto;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
}

.preparation {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    font-family: 'Outfit', sans-serif;
    padding: 30px;
    background-color: hsl(330, 100%, 98%);
}

.preparation-title {
    color: hsl(332, 51%, 32%);
}

.preparation ul {
    display: flex;
    list-style-position: inside;
    flex-direction: column;
    gap: 10px;
}

.img-omelete {
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.ingredientes h2 {
    color: hsl(14, 45%, 36%);
    font-family: 'Young-Serif', serif;
}

.ingredientes ul {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ingredientes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
}

.instructions h2 {
    color: hsl(14, 45%, 36%);
    font-family: 'Young-Serif', serif;
}

.linha {
    opacity: 20%;
    width: 102%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: hsl(30, 10%, 34%);
    height: 1px;
}

.nutrition h2 {
    color: hsl(14, 45%, 36%);
    font-family: 'Young-Serif', serif;
}

.instructions ol {
    display: flex;
    list-style-position: inside;
    flex-direction: column;
    gap: 15px;
}

.instructions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

p {
    font-family: 'Outfit', sans-serif;
}

li {
    font-family: 'Outfit', sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Outfit', sans-serif;

}

td {
    padding: 10px;
    font-weight: 600;
    border-bottom: 1px solid rgb(95, 87, 78 , 0.3);
}

.nutrition {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

td:nth-child(2) {
    color: hsl(14, 45%, 36%);
}
ol li::marker{
    color: hsl(14, 45%, 36%);
}
.preparation-ul li::marker{
color: rgb(123, 40, 79);
}
ul li::marker{
    color: hsl(14, 45%, 36%);
}
@media screen and(max-width:768px){
.container{
    padding: 15px;
}
.body{
    padding: 10px;
}












}